@mixin transition($elem, $type, $duration) {
	-webkit-transition: $elem $type $duration;
	-moz-transition: $elem $type $duration;
	-ms-transition: $elem $type $duration;
	transition: $elem $type $duration;
}

.twitter-page__base {
	background-color: $hermes-blue;
	min-height: 1030px;
}

.twitter-page__container {
	@extend .container;

	.twitter-page__column {
		background-color: $hermes-light-grey;
		margin-top: 100px;
		border-left: $hermes-blue-dark 2px solid;
		border-top: $hermes-blue-dark 2px solid;
		border-right: $hermes-blue-dark 3px solid;
		border-bottom: $hermes-blue-dark 3px solid;
		border-radius: 2px;
		max-height: 700px;
		

		&:nth-child(odd) {
			margin-right: 5px;
		}
		&:nth-child(even) {
			margin-left: 5px;
		}
	}

	.twitter-page__heading-row {
		@extend .row;

		padding: 5px;
		border-bottom: $hermes-blue 3px solid;


		.twitter-page__search {
			float: left;

			font-size: 20px;
		}

		.twitter-page__close {
			float: right;
		}

		.twitter-page__close-button {
			border: none;
			background-color: $hermes-blue;
			color: white;
		}
 	}

 	.twitter-page__content {
		@extend .row;

		padding: 10px;
		height: 500px;
		

		.twitter__row {
			@extend .row;

			margin: 0;
		}
		.twitter__row-info {
			margin-bottom: 5px;
		}
		.twitter__row-tweet {
			
		}

		.twitter-page__content-tweet {
			//border: pink solid 1px;
			min-height: 50px;
			margin-bottom: 10px; 
			border-bottom: darken($hermes-light-grey, 20%) solid 2px;
			width: 100%;
			display: inline-block;
		}

		.twitter-page__content-tweet-image {
			//border: pink solid 1px;
			min-height: 50px;
			margin-bottom: 10px; 
			border-bottom: darken($hermes-light-grey, 20%) solid 2px;
			width: 45%;
			display: inline-block;
		}

		.twitter-page__content-image {
			width: 45%;
			float: right;
		}

		.tweet__image {
			width: 100%;
		}

		.tweet__username {
			font-size: 35px;
			display: inline-block;
			float: left;
			text-transform: none;
		}
		.tweet__tweet {
			font-size: 40px;
			display: block;
			margin-bottom: 25px;
		}

		.twitter__date-location {
			float: left;

			.tweet__date {
				font-size: 20px;
				display: inline-block;
				float: left;
				margin-right: 10px;
			}
			.tweet__location {
				font-size: 20px;
				display: inline-block;
				float: left;
				// padding-right: 10px;
			}
		}
		
		
		.twitter__actions-container{
			float: right;
			padding-bottom: 5px;

			.twitter__like {
				font-size: 25px;
				color: #e81c4f;
			}
			.twitter__retweet {
				font-size: 25px;
				color: #19cf86;
			}
			.twitter__actions {
				font-size: 25px;
			}

		}
		
 	}	
}