@font-face {
    font-family: 'MarselisWeb';
    src: url('../fonts/MarselisWeb.woff') format('woff');
}

$text-color:              $hermes-dark-text;
$font-family-sans-serif:  "museo-sans-rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-marselis-web: 'MarselisWeb', serif;
$font-family-helvetica:   "Helvetica Neue", sans-serif;
$font-family-base:        $font-family-helvetica;
$font-family-headings: 	  $font-family-marselis-web;
$font-family-titles:      $font-family-marselis-web;

$font-size-base:          14px;

$font-size-h1:            floor(($font-size-base * 2.15)); // ~30px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.42)); // ~20px
$font-size-h4:            ceil(($font-size-base * 1.28)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.86)); // ~12px

$line-height-base:        1.428571429; // 20/14
$line-height-computed:    15px; // ~20px

$headings-font-weight:    700;
$headings-font-weight-light: 200;

$paragraph-font-weight: 600;




$font-family-special:   "droid_sans", "Helvetica Neue", Helvetica, Arial, sans-serif;