//== Header
$header-height-small:		32px;
$header-logo-width-small:	85px;
$header-logo-height-small:	21px;

$header-height:				80px;
$header-logo-width:			170px;
$header-logo-height:		42px;


//== Footer
$footer-height-small-screen:200px;
$footer-height:				164px;
$footer-logo-width:			124px;
$footer-logo-height:		32px;