<footer>
    <div class="container">
        <div class="row">
            <hermes-button
				class="footer__sap-button"
				data-colour="green"
				data-modifier="large-full-width"
				data-button-text="Send a parcel"
				data-link="send-a-parcel.html">
			</hermes-button>
        </div>
        <div class="row">
            <div class="footer__list-column">
                <div class="footer__list-header">Our services</div>
                <div><a href="#">Our prices</a></div>
                <div><a href="#">Courier service</a></div>
                <div><a href="#">Parcel tracking</a></div>
                <div><a href="#">Signature on delivery</a></div>
                <div><a href="#">ParcelShops</a></div>
                <div><a href="#">eBay sellers</a></div>
                <div><a href="#">Amazon sellers</a></div>
            </div>
            <div class="footer__list-column">
                <div class="footer__list-header">For business</div>
                <div><a href="#">Small business courier</a></div>
                <div><a href="#">eBay and Amazon sellers</a></div>
                <div><a href="#">Import from Linnworks</a></div>
                <div><a href="#">Import from Shopify</a></div>
                <div><a href="#">Import from Channel Advisor</a></div>
                <div><a href="#">Import from Zen Stores</a></div>
                <div><a href="#">Import from Volo</a></div>
            </div>
            <div class="footer__list-column">
                <div class="footer__list-header">International</div>
                <div><a href="#">Sending a parcel abroad</a></div>
                <div><a href="#">International prices</a></div>
                <div><a href="#">Sending parcels to Ireland</a></div>
                <div><a href="#">Sending parcels to Europe</a></div>
                <div><a href="#">Sending parcels to North America</a></div>
                <div><a href="#">Sending parcels to Australia</a></div>
                <div><a href="#">International parcel tracking</a></div>
                <div><a href="#">Things to know</a></div>
                <div><a href="#">International business shipping</a></div>
            </div>
            <div class="footer__list-column">
                <div class="footer__list-header">News</div>
                <div><a href="#">myHermes blog</a></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="footer__social">
                <a href="https://www.facebook.com/myHermesdelivery/" class="fa fa-facebook-square"></a>
                <a href="https://twitter.com/myhermes" class="fa fa-twitter-square"></a>
            </div>
        </div>
        <div class="row">
            <div class="footer__text-left">
                &copy; myHermes 2016
            </div>
            <div class="footer__text-right">
                Hermes Parcelnet Ltd, Capitol House, 1 Capitol Close, Morley, LS27 0WH<br>
                <a href="#">Terms and conditions</a> | <a href="#">Privacy policy</a> | <a href="#">Terms of use</a>
            </div>
        </div>
    </div>
</footer>